<h1>Distribuição de sexo com idade {{filtro.idade}}</h1>
<form #d="ngForm" (ngSubmit)="onSubmit(d)">
  <div class="form-group">
    <label for="ano">Ano</label>
    <input type="text" class="form-control" id="ano" placeholder="Ano " name="ano" [(ngModel)]="filtro.ano">
  </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input type="text" class="form-control" id="idade" placeholder="Idade " name="idade" [(ngModel)]="filtro.idade">
  </div>

  <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<div [hidden]="!myChart">
  <canvas id="can" width="500" height="200">{{ myChart }}</canvas>
</div>