<div class="row mb-3">
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <!-- <i class="fa fa-user fa-4x"></i> -->
                </div>
                <h6 class="text-uppercase">População Brasileira</h6>
                <h1 class="display-4">{{populacaoTotalF}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-danger h-100">
            <div class="card-body bg-danger">
                <div class="rotate">
                </div>
                <h6 class="text-uppercase">População Masculina</h6>
                <h1 class="display-4">{{populacaoMasculinaF}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                </div>
                <h6 class="text-uppercase">População Feminina</h6>
                <h1 class="display-4">{{populacaoFemininaF}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-warning h-100">
            <div class="card-body">
                <div class="rotate">
                </div>
                <h6 class="text-uppercase">Nascidos Neste Ano</h6>
                <h1 class="display-4">{{populacaoMundialF}}</h1>
            </div>
        </div>
    </div>
</div>