.form-select{
    width:30%;
    margin:0;
    cursor: pointer;
}
.form-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-button{
    width:20%;
    margin:12px;
    background-color:#0275d8;
    border-color:#0275d8;
    cursor: pointer;
}

.error{
    width: 100%;
    background-color:#D12D2D;
    height: 2em;
    text-align: center;
    display: flex;
    align-content: center;
    color:#F1F1F1;
    margin:20px 0 10px 0;
}