<div class="container-fluid dash-background">
    <br>
    <form>
          <div class="row">
             <div class="col-12">
                <div class="card border-light shadow-sm mb-3">
              
                <div class="card-body p-3">
                   <div class="card-header card-bg"> 
                       <div class="row">
                        <div class="col">
                            <h5 class="card-title">Pirâmide Etária da População Brasileira</h5>
                        </div>
                       </div>
                  </div>
                  <db-graphs-pyramid></db-graphs-pyramid>
                </div>
              </div>
          </div>
          </div>
    
          <br>
    
           <div class="row">

              <div class="col-12">
    
                <div class="card border-light shadow-sm mb-3">
              
                    <div class="card-body p-3">
                      <div class="card-header card-bg">
                          <div class="row">
                           <div class="col">
                           <h5 class="card-title">Gráfico de linhas da população brasileira com certa idade. </h5>
                          </div>
    
                      </div>
                  </div>   
                    <db-graph-age></db-graph-age>
                    </div>
              </div>
             </div>
            
          </div>

          <div class="row">
            <div class="col-6">
  
              <div class="card border-light shadow-sm mb-3">
            
                  <div class="card-body p-3">
                   <div class="card-header card-bg"> 
                       <div class="row">
                             <div class="col">
                              <h5 class="card-title">Distribuição da População entre Sexos</h5>
                             </div>
                       </div>
                  </div>
                  <db-distribution-age-sex></db-distribution-age-sex>
                  </div>
                </div>
            </div>
            
            <div class="col-6">
  
              <div class="card border-light shadow-sm mb-3">
            
                  <div class="card-body p-3">
                    <div class="card-header card-bg">
                        <div class="row">
                         <div class="col">
                         <h5 class="card-title">População e felicidade</h5>
                        </div>
                    </div>
                </div>
                <db-population-vs-happiness></db-population-vs-happiness>   
                </div>
            </div>
           </div>
          
        </div>
    
          
     </form>
    
     <br>
          
    </div>