<div class="container-fluid dash-background">
  <br>
  <form>
        <div class="row">
           <div class="col-12">
              <div class="card border-light shadow-sm mb-3">
            
              <div class="card-body p-3">
                 <div class="card-header card-bg"> 
                     <div class="row">
                      <div class="col">
                          <h5 class="card-title">Grafico Adson</h5>
                      </div>
                     </div>
                </div>
              </div>
            </div>
        </div>
        </div>
  
        <br>
  
         <div class="row">

            <div class="col-12">
  
              <div class="card border-light shadow-sm mb-3">
            
                  <div class="card-body p-3">
                    <div class="card-header card-bg">
                        <div class="row">
                         <div class="col">
                         <h5 class="card-title">Grafico Marcos </h5>
                        </div>
  
                    </div>
                </div>   
                  </div>
            </div>
           </div>
          
        </div>

        <div class="row">
          <div class="col-12">

            <div class="card border-light shadow-sm mb-3">
          
                <div class="card-body p-3">
                 <div class="card-header card-bg"> 
                     <div class="row">
                           <div class="col">
                            <h5 class="card-title">Grafico Carol </h5>
                           </div>
                     </div>
                </div>
                </div>
              </div>
          </div>
        
      </div>

      <div class="row">
        <div class="col-12">

          <div class="card border-light shadow-sm mb-3">
        
              <div class="card-body p-3">
               <div class="card-header card-bg"> 
                   <div class="row">
                         <div class="col">
                          <h5 class="card-title">Grafico Bruno </h5>
                         </div>
                   </div>
              </div>
              </div>
            </div>
        </div>
      
    </div>

    <div class="row">
      <div class="col-12">

        <div class="card border-light shadow-sm mb-3">
      
            <div class="card-body p-3">
             <div class="card-header card-bg"> 
                 <div class="row">
                       <div class="col">
                        <h5 class="card-title">Grafico Dara </h5>
                       </div>
                 </div>
            </div>
            </div>
          </div>
      </div>
    
  </div>
  
        
   </form>
  
   <br>
        
  </div>